<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thyroid Predictor</title>

</head>
<body>
    <h1>Thyroid Predictor</h1>
    <form method = "post" action = "/predict">
        <label>Age</label><br>
        <input type = "text" name="age"><br><br>
        <label>On_thyroine</label><br>
        <input type = "text" name="on_thyroine"><br><br>
        <label>On Antithyroidmeds</label><br>
        <input type = "text" name="on_antithyroid_meds"><br><br>
        <label>Pregnant</label><br>
        <input type = "text" name="pregnant"><br><br>
        <label>Thyroid Surgery</label><br>
        <input type = "text" name="thyroid_surgery"><br><br>
        <label>I131_treatment</label><br>
        <input type = "text" name="I131_treatment"><br><br>
        <label>lithium</label><br>
        <input type = "text" name="lithium"><br><br>
        <label>Goitre</label><br>
        <input type = "text" name="goitre"><br><br>
        <label>TSH_measured</label><br>
        <input type = "text" name="TSH_measured"><br><br>
        <label>TSH</label><br>
        <input type = "text" name="TSH"><br><br>
        <label>TT4_measured</label><br>
        <input type = "text" name="TT4_measured"><br><br>
        <label>TT4</label><br>
        <input type = "text" name="TT4"><br><br>
        <label>T4U_measured</label><br>
        <input type = "text" name="T4U_measured"><br><br>
        <label>T4U</label><br>
        <input type = "text" name="T4U"><br><br>
        <label>FTI_measured</label><br>
        <input type = "text" name="FTI_measured"><br><br>
        <label>FTI</label><br>
        <input type = "text" name="FTI"><br><br>
        <label>patient_id</label><br>
        <input type = "text" name="patient_id"><br><br>
        <label>sex_F</label><br>
        <input type = "text" name="sex_F"><br><br>
        <label>sex_M</label><br>
        <input type = "text" name="sex_M"><br><br>

        <input type = "submit" value="Predict"><br><br>



    </form>
</body>
</html>